on:
  push:
    branches:
      - master
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch: # Manual

permissions:
  contents: write

jobs:
  security_artifacts:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout NVD repo
        uses: actions/checkout@v2
        with:
          ref: release

      - name: Checkout Fleet
        uses: actions/checkout@v2
        with:
          repository: fleetdm/fleet
          fetch-depth: 1
          ref: main
          token: ${{ github.token }}
          path: fleet

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: '^1.17.3'

      - name: Generate security artifacts
        run: |
          cd fleet
          go mod download
          export NETWORK_TEST_GITHUB_TOKEN={{ secrets.GITHUB_TOKEN }}
          go run -tags fts5 cmd/cpe/generate.go
          go run -tags fts5 cmd/msrc/generate.go

      - name: Current date
        id: date
        run: |
          echo "::set-output name=date::$(date +'%Y%m%d%H%M')"

      # Note that a new commit must be made for each release, otherwise GitHub does not order
      # the releases properly.
      - name: Tag
        run: |
          git config --global user.email ""
          git config --global user.name "GitHub Actions Bot"
          git commit --allow-empty -m 'Release ${{ steps.date.outputs.date }}'
          git push origin release

      - name: Release
        uses: softprops/action-gh-release@1e07f4398721186383de40550babbdf2b84acfc5 # v0.1.14
        with:
          files: |
            fleet/*.sqlite.gz
            fleet/server/vulnerabilities/nvd/cpe_translations.json
            fleet/msrc_out/*.json
          tag_name: ${{ steps.date.outputs.date }}
          target_commitish: release
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Slack Notification
        if: failure()
        uses: slackapi/slack-github-action@v1.18.0
        with:
          payload: |
            {
              "text": "${{ job.status }}\n${{ github.event.pull_request.html_url || github.event.head.html_url }}",
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "Security artifacts generation result: ${{ job.status }}\nhttps://github.com/fleetdm/nvd/actions/runs/${{  github.run_id }}\n${{ github.event.pull_request.html_url || github.event.head.html_url }}"
                  }
                }
              ]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_G_PLATFORM_WEBHOOK_URL }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
